{% extends "base.html" %}
{% load tz %}

{% block title %}Home{% endblock title %}

{% block content %}
<div>
    <h1>Your Notes</h1>
</div>
<br>
<div>
    {% if user.is_authenticated %}
        <div>
            {% if notes %}
                <div>
                    {% for note in notes %}
                        <a href="{% url 'notes:detail' note.id %}" class="note-link">
                            <div class="note">
                                <h2>{{ note.title|truncatechars:30 }}</h2>
                                <p>{{ note.body|truncatechars:100 }}</p>
                                <small>{{ note.created|timezone:"Asia/Tehran" }}</small>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <br>
            {% else %}
            {% endif %}   
        </div>
    {% else %}
    {% endif %}   
</div>
{% endblock content %}