{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="content container-fluid">
        {% include "messages.html" %}
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>