{% load static %}
{% with active="class='nav-link active' aria-current='page'" url_name=request.resolver_match.url_name %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'notes:index' %}">
      <img src="{% static 'img/logo.png' %}" alt="" height="24" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a {% if url_name == 'index' %}{{ active }}{% else %}class="nav-link"{% endif %} href="{% url 'notes:index' %}">Home</a>
          {% if user.is_authenticated %}
          <a {% if url_name == 'create' %}{{ active }}{% else %}class="nav-link"{% endif %} href="{% url 'notes:create' %}">Create</a>
          <a {% if url_name == 'logout' %}{{ active }}{% else %}class="nav-link"{% endif %} href="{% url 'accounts:logout' %}">Logout</a>
          {% else %}
          <a {% if url_name == 'register' %}{{ active }}{% else %}class="nav-link"{% endif %} href="{% url 'accounts:register' %}">Register</a>
          <a {% if url_name == 'login' %}{{ active }}{% else %}class="nav-link"{% endif %} href="{% url 'accounts:login' %}">Login</a>
          {% endif %}
      </div>
    </div>
    {% if user.is_authenticated %}
    <span class="navbar-text link-light">
      {{ request.user }}
    </span>
    {% endif %}
  </div>
</nav>
{% endwith %}